<mat-card class="body">
  <div class="name">
    <h2 class="name-information">{{pokemon.name | titlecase}} N°- {{pokemon.id}}</h2>
  </div>

  <div class="informations">
    <img [src]="pokemon.sprites.front_default" [alt]="pokemon.name" class="image">
    <div>
      <mat-card class="card-information">
        <div>
          <div class="height">
            height
          </div>
          <div class="height-information">
            {{ pokemon.height }} m
          </div>
        </div>
        <div>
          <div class="Weight">
            Weight
          </div>
          <div class="Weight-information">
            {{ pokemon.weight }} kg
          </div>
        </div>
        <div>
          <div class="ability">
            Habilidades
          </div>
          <div>
            <h1 *ngFor="let a of pokemon?.abilities" class="ability-information">
              {{ a.ability.name | titlecase}}
            </h1>
          </div>
          <div class="types">
            types
          </div>
          <div *ngFor="let x of pokemon.types" class="types-information">
            {{ x.type.name | titlecase }}
          </div>
        </div>
      </mat-card>
    </div>
  </div>
  <tr *ngFor="let a of pokemon.stats">
    <td class="text-right font-weight-bold space" style="white-space:nowrap;"> {{ a.stat.name }}</td>
    <td colspan="3">
      <div class="progress">
        <div class="progress-bar progress-bar-striped progress-bar-animated rounded-sm" role="progressbar"
          aria-valuenow="" aria-valuemin="0" aria-valuemax="255"><span>{{a.base_stat}}</span></div>
      </div>
    </td>
  </tr>
  <tr>
</mat-card>