<div class="pokedex">
  <h1 class="pokedex-title">Pokédex</h1>
</div>
<mat-card class="body">
  <div>
    <button type="button" class="btn" (click)="home()">Voltar ao ínicio</button>
  </div>
  <div class="name">
    <h1 class="name-information">{{pokemon?.name | titlecase}} N°- {{pokemon?.id}}</h1>
  </div>

  <div class="pokeInfo">
    <mat-card class="card-information">
      <div class="info-block">
        <div class="atribute-title">
          <h2>Height</h2>
        </div>
        <div class="atribute">
          {{ (!!pokemon?.height? pokemon.height : 0) /10}} m
        </div>
      </div>
      <div>
        <div class="atribute-title">
          <h2>Weight</h2>
        </div>
        <div class="atribute">
          {{ (!!pokemon?.weight? pokemon.weight : 0) /10 }} kg
        </div>
      </div>
      <div>
        <div class="atribute-title">
          <h2>Habilidades</h2>
        </div>
        <div>
          <h1 *ngFor="let a of pokemon?.abilities" class="atribute">
            {{ a.ability?.name | titlecase}}
          </h1>
        </div>
        <div class="atribute-title">
          <h2>types</h2>
        </div>
        <div *ngFor="let x of pokemon?.types" class="atribute">
          {{ x.type?.name | titlecase }}
        </div>
      </div>
    </mat-card>
    <div class="pokeImg">
      <img src="\assets\fundo_detalhes.png" id="backgroundPoke" alt="Pokemon"
        [class.normal]="(!!pokemon? pokemon.types[0]?.type?.name : '') ==='normal'"
        [class.fire]="(!!pokemon? pokemon.types[0]?.type?.name : '')==='fire'"
        [class.water]="(!!pokemon? pokemon.types[0]?.type?.name : '')==='water'"
        [class.grass]="(!!pokemon? pokemon.types[0]?.type?.name : '')==='grass'"
        [class.electric]="(!!pokemon? pokemon.types[0]?.type?.name : '')==='electric'"
        [class.ice]="(!!pokemon? pokemon.types[0]?.type?.name : '')==='ice'"
        [class.fighting]="(!!pokemon? pokemon.types[0]?.type?.name : '')==='fighting'"
        [class.poison]="(!!pokemon? pokemon.types[0]?.type?.name : '')==='poison'"
        [class.flying]="(!!pokemon? pokemon.types[0]?.type?.name : '')==='flying'"
        [class.psychic]="(!!pokemon? pokemon.types[0]?.type?.name : '')==='psychic'"
        [class.bug]="(!!pokemon? pokemon.types[0]?.type?.name : '')==='bug'"
        [class.rock]="(!!pokemon? pokemon.types[0]?.type?.name : '')==='rock'"
        [class.ghost]="(!!pokemon? pokemon.types[0]?.type?.name : '')==='ghost'"
        [class.dragon]="(!!pokemon? pokemon.types[0]?.type?.name : '')==='dragon'"
        [class.dark]="(!!pokemon? pokemon.types[0]?.type?.name : '')==='dark'"
        [class.stell]="(!!pokemon? pokemon.types[0]?.type?.name : '')==='stell'"
        [class.fairy]="(!!pokemon? pokemon.types[0]?.type?.name : '')==='fairy'">
      <img
        [src]="(!!pokemon? pokemon.sprites.spritesWorld : 'https://assets.pokemon.com/assets/cms2/img/pokedex/full/.png' )"
        id="pokeSprite" [alt]="pokemon?.name" class="image">
    </div>
    <div class="grafics">
      <div class="grafInterior">
        <h2 class="status">Status</h2>
        <div *ngFor="let a of pokemon?.stats" class="states">
          <span class="text-right font-weight-bold space atribute" style="white-space:nowrap;">
            {{ a.stat?.name | titlecase}}
          </span>
          <div class="progress" style="width: 200px;">
            <div class="progress-bar bg-danger rounded-sm" role="progressbar"
              [style.width]="((a.base_stat*100)/255)+'%'" aria-valuenow="255" aria-valuemin="0" aria-valuemax="255"
              id="aling">
              {{a.base_stat }}
            </div>
          </div>
        </div>
      </div>
      <tr>
    </div>
  </div>
  <div class="navigation">
    <div><button (click)="previousPokemon()" *ngIf="id > 1" class="btn-navegation">Previous</button></div>
    <div><button (click)="nextPokemon()" class="btn-navegation">Next</button></div>
  </div>
</mat-card>