<div class="body">
    <div class="search">
        <!-- input type="text" name="search" [(ngModel)]="searchText" autocomplete="off" -->

        <input type="text" class="form-control input" placeholder="Pesquisar" name="filtrar" [(ngModel)]="searchText" (Change)="filtrar(searchText)">
    </div>
    <mat-card class="home">
        <mat-card class="card"
            *ngFor="let p of pokemon | paginate: { itemsPerPage: 16, currentPage: poke}  | filter:searchText">
            <div>
                <img src="{{ p.sprites?.front_default }}" alt="imagens">
            </div>
            <div class="name">
                <p>{{ p.id }} - &nbsp;</p>
                <h1>{{ p.name }}</h1>
            </div>
            <div>
                {{ p.types }}
            </div>

            <div>
                <button class="button" (click)="openModal()">Info</button>
            </div>
        </mat-card>
        <div class="pagination">
            <pagination-controls (pageChange)="poke = $event"></pagination-controls>
        </div>
    </mat-card>
</div>