@font-face {
    font-family: pokemon; 
    src: url('\src\assets\Pokemon Solid.ttf');
}

.home{
    width: 85%;
    display: flex;
    flex-direction: column;
    margin:30px auto;
    flex-wrap: wrap;
    justify-content: space-between;
    border-radius: 15px;
    padding: 30px;
   
}

.body{
    padding-bottom: 30px;    
}

.card{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 20rem;
    width: 15rem;
    margin: 0px 10px 20px 10px; 

    cursor: pointer;
    border-radius: 10px;
}

.card:hover{
    -webkit-animation: swing 1s ease;
    animation: swing 1.5s ease;
    -webkit-animation-iteration-count: 1;
    animation-iteration-count: 1; 
}

@-webkit-keyframes swing
{
    15%
    {
        -webkit-transform: translateX(5px);
        transform: translateX(5px);
    }
    30%
    {
        -webkit-transform: translateX(-5px);
       transform: translateX(-5px);
    } 
    50%
    {
        -webkit-transform: translateX(3px);
        transform: translateX(3px);
    }
    65%
    {
        -webkit-transform: translateX(-3px);
        transform: translateX(-3px);
    }
    80%
    {
        -webkit-transform: translateX(2px);
        transform: translateX(2px);
    }
    100%
    {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}
@keyframes swing
{
    15%
    {
        -webkit-transform: translateX(5px);
        transform: translateX(5px);
    }
    30%
    {
        -webkit-transform: translateX(-5px);
        transform: translateX(-5px);
    }
    50%
    {
        -webkit-transform: translateX(3px);
        transform: translateX(3px);
    }
    65%
    {
        -webkit-transform: translateX(-3px);
        transform: translateX(-3px);
    }
    80%
    {
        -webkit-transform: translateX(2px);
        transform: translateX(2px);
    }
    100%
    {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}

.name{
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    align-items: center;
    width: auto;
    padding: 10px 0px 0px 0px;
}

.name > h1 {
    font-size: 1.2rem;
    font-weight: 500;
    margin: 0;
    padding: 0;
    color: black;
    margin-bottom: 5px;
}

.types{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-weight: 400;
}

form{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    padding: 50px 0px 0px 0px ;   
}

input{
    border-radius: 15px;
    font-size: 1.2rem;
    width: 75%;
}

.cardCollection {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.navigation{
    display: flex;
    justify-content: space-between;
}

.size-type{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 30px;
    border-radius: 7px;
    color: black;
    margin:3px auto;
}

.steel {
    background-color: #f4f4f4;
  }
  
  .fire {
    background-color: #FDDFDF;
  }
  
  .grass {
    background-color: #DEFDE0;
  }
  
  .electric {
    background-color: #FCF7DE;
  }
  
  .water, .ice {
    background-color: #DEF3FD;
  }
  
  .ground {
    background-color: #f4e7da;
  }
  
  .rock {
    background-color: #d5d5d4;
  }
  
  .fairy {
    background-color: #fceaff;
  }
  
  .poison {
    background-color: #c4add6;
  }
  
  .bug {
    background-color: #f8d5a3;
  }
  
  .dragon {
    background-color: #97b3e6;
  }
  
  .psychic {
    background-color: #eaeda1;
  }
  
  .flying {
    background-color: #F5F5F5;
  }
  
  .fighting {
    background-color: #E6E0D4;
  }
  
  .ghost {
    background-color: #ebc2c2;
  }
  
  .normal {
    background-color: #F5F5F5;
  }
  img{
      height: 9rem;
      width: 9rem;
  }
  

/* .normal{
    background-color: #adacac;
}

.fire{
    background-color: #FF6900;
}

.water{
    background-color: #14B9FF;
}

.grass{
    background-color: #B4F000;
}

.electric{
    background-color: #FFE100;
}

.ice{
    background-color: #14F5FF;
}

.fighting{
    background-color: #DC6900;
}

.poison{
    background-color: #D28CD2;
}

.ground{
    background-color: #FAC85A;
}

.flying{
    background-color: #78DCFF;
}

.psychic{
    background-color: #F08CDC;
}

.bug{
   background-color: #46C846; 
}

.rock{
    background-color: #B48C64;
}

.ghost{
    background-color: #A08CFF;
}

.dragon{
    background-color: #5078DC;
}

.dark{
    background-color: #787878;
}

.stell{
    background-color: #AAC8F0;
}

.fairy{
    background-color: #FFAFDC;
} */