@font-face {
    font-family: pokemon; 
    src: url('\src\assets\Pokemon Solid.ttf');
}

.home{
    width: 85%;
    display: flex;
    flex-direction: column;
    margin:30px auto;
    flex-wrap: wrap;
    justify-content: space-between;
    border-radius: 15px;
    padding: 30px;
   
}

.body{
    padding-bottom: 30px;    
}

.card{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 22rem;
    width: 15rem;
    margin: 0px 10px 20px 10px; 
    cursor: pointer;
    border-radius: 10px;
}

.card:hover{
    -webkit-animation: swing 1s ease;
    animation: swing 1.5s ease;
    -webkit-animation-iteration-count: 1;
    animation-iteration-count: 1; 
}

@-webkit-keyframes swing
{
    15%
    {
        -webkit-transform: translateX(5px);
        transform: translateX(5px);
    }
    30%
    {
        -webkit-transform: translateX(-5px);
       transform: translateX(-5px);
    } 
    50%
    {
        -webkit-transform: translateX(3px);
        transform: translateX(3px);
    }
    65%
    {
        -webkit-transform: translateX(-3px);
        transform: translateX(-3px);
    }
    80%
    {
        -webkit-transform: translateX(2px);
        transform: translateX(2px);
    }
    100%
    {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}
@keyframes swing
{
    15%
    {
        -webkit-transform: translateX(5px);
        transform: translateX(5px);
    }
    30%
    {
        -webkit-transform: translateX(-5px);
        transform: translateX(-5px);
    }
    50%
    {
        -webkit-transform: translateX(3px);
        transform: translateX(3px);
    }
    65%
    {
        -webkit-transform: translateX(-3px);
        transform: translateX(-3px);
    }
    80%
    {
        -webkit-transform: translateX(2px);
        transform: translateX(2px);
    }
    100%
    {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}

.name{
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    align-items: center;
    width: auto;
    padding: 10px 0px 0px 0px;
}

.name > h1 {
    font-size: 1.4rem;
   
    margin: 0;
    padding: 0;
    color: black;
    margin-bottom: 5px;
    font-family: Baskerville;
    font-weight: 500;
}

form{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    padding: 50px 0px 0px 0px ;   
}

input{
    border-radius: 15px;
    font-size: 1.2rem;
    width: 75%;
}

.cardCollection {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.navigation{
    display: flex;
    justify-content: space-between;
}

.size-type{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 30px;
    border-radius: 7px;
    color: black;
    margin:3px auto;
    font-family: Baskerville;
    font-weight: 400;
}

.types{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 5px;
}

.steel {
    background-image: linear-gradient(to top, #aac8f0, #b7d0f2, #c4d8f4, #d1e1f6, #dee9f8);
  }
  
  .fire {
    background-image: linear-gradient(to top, #f2b9c2, #f5c5ce, #f8d1d9, #fadee4, #fdeaef);
  }
  
  .grass {
    background-image: linear-gradient(to bottom, #defde0, #d3f6cc, #cbefb7, #c6e7a0, #c3de88);
  }
  
  .electric {
    background-image: linear-gradient(to top, #f6e991, #f6eb9a, #f7eda3, #f7efab, #f8f1b4);
  }
  
  .water, .ice {
    background-image: linear-gradient(to top, #c3e5f6, #cbebf7, #d5f1f8, #dff7fa, #eafcfd);
  }
  
  .ground {
    background-image: linear-gradient(to top, #f8d3af, #f9d9bd, #f9e0ca, #f9e6d8, #f8ede5);
  }
  
  .rock {
    background-image: linear-gradient(to top, #dcb187, #e5be97, #eecba8, #f6d8b9, #ffe5ca);  }
  
  .fairy {
    background-image: linear-gradient(to top, #f0bbf9, #efc6fa, #eed1fa, #efdbfa, #f0e5f8);
  }
  
  .poison {
    background-image: linear-gradient(to top, #d7aff6, #dfbbf6, #e7c8f6, #edd4f7, #f3e1f8);
  }
  
  .bug {
    background-image: linear-gradient(to top, #aef6b2, #b6f8c0, #c0facd, #cafcd9, #d6fde4);
  }
  
  .dragon {
    background-image: linear-gradient(to top, #97b3e6, #a2bae7, #adc2e9, #b8c9ea, #c3d1eb);
  }
  
  .psychic {
    background-image: linear-gradient(to bottom, #f4c5ea, #f5c7ec, #f6c9ee, #f8cbef, #f9cdf1);
  }
  
  .flying {
    background-image: linear-gradient(to top, #ace1f4, #bae3f7, #c7e4f8, #d3e7f9, #dee9f8);
  }
  
  .fighting {
    background-image: linear-gradient(to top, #f8bc86, #f8c292, #f8c89e, #f7ceab, #f6d4b7);
  }
  
  .ghost {
    background-image: linear-gradient(to top, #baaef4, #c2b7f6, #c9c0f9, #d1c9fb, #d9d2fd);
  }
  
  .normal {
    background-image: linear-gradient(to top, #e4e5e5, #e8e9e9, #ebeeed, #eff2f1, #f3f6f4);
  }

.div-type{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    
}


.normal-type{
    background-color: #adacac;
}

.fire-type{
    background-color: #FF6900;
}

.water-type{
    background-color: #14B9FF;
}

.grass-type{
    background-color: #B4F000;
}

.electric-type{
    background-color: #FFE100;
}

.ice-type{
    background-color: #14F5FF;
}

.fighting-type{
    background-color: #DC6900;
}

.poison-type{
    background-color: #D28CD2;
}

.ground-type{
    background-color: #FAC85A;
}

.flying-type{
    background-color: #78DCFF;
}

.psychic-type{
    background-color: #F08CDC;
}

.bug-type{
   background-color: #46C846; 
}

.rock-type{
    background-color: #B48C64;
}

.ghost-type{
    background-color: #A08CFF;
}

.dragon-type{
    background-color: #5078DC;
}

.dark-type{
    background-color: #787878;
}

.steel-type{
    background-color: #AAC8F0;
}

.fairy-type{
    background-color: #FFAFDC;
}

  .image-search{
    position:relative;
    z-index:10;
    width: 3%;
    transform: translate(-115%, 0%);
  }